div#legend-0000.my-legend(style='display:none')
  div.legend-title Predicted Probabilities
  div.legend-scale
    ul.legend-labels
      li
        span(style='background:#FFFFB2')
        |0 - 0.0002
      li
        span(style='background:#FFEDA0')
        |0.0002 - 0.0006
      li
        span(style='background:#FED976')
        |0.0006 - 0.001
      li
        span(style='background:#FEB24C')
        |0.001 - 0.002
      li
        span(style='background:#FD8D3C')
        |0.002 - 0.003
      li
        span(style='background:#FC4E2A')
        |0.003 - 0.004
      li
        span(style='background:#B10026')
        |> 0.004
div#legend-1000.my-legend(style='display:none')
  div.legend-title Predicted Probabilities
  div.legend-scale
    ul.legend-labels
      li
        span(style='background:#c6dbef')
        |0 - 0.0002
      li
        span(style='background:#9ecae1')
        |0.0002 - 0.0006
      li
        span(style='background:#6baed6')
        |0.0006 - 0.001
      li
        span(style='background:#4292c6')
        |0.001 - 0.002
      li
        span(style='background:#2171b5')
        |0.002 - 0.003
      li
        span(style='background:#08519c')
        |0.003 - 0.004
      li
        span(style='background:#08306b')
        |> 0.004
